.cabecera {
    margin-bottom: 4%
}

.titulo {
    color: black;
    padding: 10px;
    font-size: 200px;
    letter-spacing: 3px;
    display: inline-block;
    margin-top: 20%;
    margin-left: 40%;
}

.parallax {
    /* The image used */
    background-image: url("C:/Users/paupe/OneDrive/Escritorio/Github/Penya-Jogo-Bonito-web/images/bandera.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}